.app__filters-container{
    width: 80%;
    margin: 30px auto;
}
.app__search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .app__checkbox{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .app__search{
        display: flex;
        align-items: center;

       .app__search-input{
        margin-right: 20px;
       }
    }
}
.app__pagination{
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .app__page-item{
        border: 1px solid rgb(138, 138, 138);
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px 5px;
        border-radius: 2px;
    }
    .prev-next{
        border: 1px solid rgb(148, 147, 147);
        padding: 0.2rem;
        border-radius: 4px;
    }
    .active-link{
        background-color: #257cff;
        color: #fff;
    }
    .breaks-class{
        letter-spacing: 8px;
    }
}