.mainDiv {
    background-color: #f3fbfe;
    height: auto;
    padding: 80px;
}

.Main_Div_Inside_Div {
    background-color: #fff;
    width: 100%;
    margin: auto;
    height: auto;
    /* border: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 50px;
}

.Personal_Coach_Mode_Section {
    /* border: 1px solid teal; */
    height: auto;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.Personal_Coach_Mode_Section_H1_Heading {
    text-align: center;
    color: #3B3C3F;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2em;
}

.Personal_Coach_Mode_Section_Inside_p_Tag {
    text-align: center;
    /* border: 1px solid black; */
    width: 75%;
    margin: auto;
    color: #494949;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    margin-bottom: 20px;
}

.Personal_Coach_Mode_Section_Inside_Button {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #39B7FF;
    padding: 13px 30px 13px 30px;
    margin-bottom: 20px;
    border: 1px solid;
}


.Personal_Coach_Mode_Section_Inside_Button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #39B7FF;
    border: 1px solid #39B7FF;
}

.Personal_Coach_Mode_Section_Button_P_Tag {
    text-align: left;
    width: 40%;
    margin: auto;
    margin-right: 100px;
    /* border: 1px solid black; */
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.LowerTimeSpentSection {
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: auto;
    margin-top: 80px;
}

.LowerTimeSpentSection>div {
    /* border: 2px solid teal; */
    width: 100%;
}

.LowerTimeSpent_H4_tag {
    font-family: "DM Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.LowerTimeSpent_P_Tag {
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
    font-weight: 500;
    font-size: 23px;
    line-height: 38px;
    color: #7e868c;
    margin-bottom: 15px;
}

.LowerTimeSpent_Button_Start_here {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    fill: #39B7FF;
    color: #39B7FF;
    background-color: transparent;
    padding: 13px 30px 13px 30px;
    margin-bottom: 20px;
    border: 1px solid;

}


.LowerTimeSpent_Button_Start_here:hover {
    cursor: pointer;
    background-color: #39B7FF;
    color: #fff;
}


.LowerTimeSpent_Each_Client_First_Video {
    /* border: 1px solid red; */
    padding-top: 100px;
    padding-right: 2px;
}

.Client_Management_section {
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-top: 80px;
}

.Client_Management_section>div {
    /* border: 2px solid red; */
    width: 100%;
}

.Client_Management_section_H1_tag_Head {
    color: #39B7FF;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.Client_Management_section_H2_tag_Head {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.4;
    margin-bottom: 15px;
}

.Client_Management_section_P_Tag_Des {
    color: #3B3C3F;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 28px;
}


.Client_Management_section_First_Video {
    /* border: 1px solid red; */
    padding-top: 100px;
    padding-right: 2px;
}


.Client_Management_section_Button_Start_explore {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    fill: #39B7FF;
    color: #f3fbfe;
    background-color: #39B7FF;
    padding: 13px 30px 13px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;

}


.Client_Management_section_Button_Start_explore:hover {
    cursor: pointer;
    background-color: #f3fbfe;
    color: #39B7FF;
}

.Premium_Workout_Plans_section {
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 80px;
}



.Premium_Workout_Plans_section>div {
    /* border: 2px solid red; */
    width: 100%;
}


.Premium_Workout_Plans_section_First_Video {
    /* border: 1px solid red; */
    padding-top: 40px;
    padding-bottom: 20px;
}

.Premium_Workout_Plans_section_H1_tag_Head {
    color: #39B7FF;
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
}

.Premium_Workout_Plans_section_H2_tag_Head {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.4;
    margin-bottom: 20px;
}

.Premium_Workout_Plans_section_P_tag {
    color: #808285;
    font-size: 21px;
    margin-bottom: 15px;
}

.start_YouFree_Trial_section {
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

.start_YouFree_Trial_section>div {
    /* border: 1px solid red; */
    width: 100%;
}

.start_YouFree_Trial_section_h1_tag {
    color: #3B3C3F;
    font-size: 65px;
    font-weight: 700;
}

.start_YouFree_Trial_section_h2_tag {
    color: #3B3C3F;
    line-height: 1.6;
    font-size: 35px;
    font-weight: 600;
}

.start_YouFree_Trial_section_p_tag {
    margin-top: 10px;
    color: #808285;
    font-size: 21px;
    font-weight: 600;
}

.start_YouFree_Trial_section_Img_section>img {
    width: 80%;
    margin: auto;
}

.start_YouFree_Trial_section_Img_section {
    padding: 20px;
}


.our_goal_is_to_Help_Section {
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background-color: #e8f5fa;
    padding: 50px;
}

.our_goal_is_to_Help_Section_h1_tag {
    width: 75%;
    margin: auto;
    color: #39B7FF;
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 40px;
}














/* Medium screens */
@media all and (min-width: 550px) and (max-width: 950px) {

    .mainDiv {
        padding: 40px;
    }


    .Personal_Coach_Mode_Section_H1_Heading {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.2em;
        /* border: 1px solid black; */
    }

    .Personal_Coach_Mode_Section_Inside_p_Tag {
        /* border: 1px solid black; */
        font-size: 17px;
        font-weight: 500;
        line-height: 1.7em;
        margin-bottom: 20px;
    }

    .Personal_Coach_Mode_Section_Inside_Button {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0px;
        fill: #ffffff;
        color: #ffffff;
        background-color: #39B7FF;
        padding: 10px 20px 10px 20px;
        margin-bottom: 10px;
        border: 1px solid;
    }


    .Personal_Coach_Mode_Section_Button_P_Tag {
        text-align: center;
        width: 80%;
        margin: auto;
        /* border: 1px solid black; */
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }


    /* lower section medium size media query */



    .LowerTimeSpentSection {
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        text-align: center;
    }

    .LowerTimeSpent_H4_tag {
        font-size: 21px;
        /* border: 1px solid black; */
    }

    .LowerTimeSpent_P_Tag {
        /* border: 1px solid black; */
        font-weight: 400;
        font-size: 19px;
        line-height: 29px;
        color: #7e868c;
        margin-bottom: 15px;
    }

    .LowerTimeSpent_Button_Start_here {
        font-size: 15px;
        font-weight: 600;
        padding: 10px 30px 10px 30px;
        border: 1px solid;
        margin-bottom: 40px;

    }


    .LowerTimeSpent_Each_Client_First_Video {
        /* border: 1px solid red; */
        padding-top: 0px;
        padding-left: 40px;
    }


    /* Client Management section */




    .Client_Management_section {
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 60px;
        text-align: center;
    }

    .Client_Management_section>div {
        /* border: 2px solid red; */
        width: 100%;
    }

    .Client_Management_section_H1_tag_Head {
        /* border: 1px solid black; */
        font-size: 40px;
        font-weight: 700;
    }

    .Client_Management_section_H2_tag_Head {
        /* border: 1px solid black; */
        font-size: 29px;
        font-weight: 600;
        margin-top: 10px;
    }

    .Client_Management_section_P_Tag_Des {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: 22px;
    }


    .Client_Management_section_First_Video {
        /* border: 1px solid red; */
        padding-top: 5px;
        padding-left: 40px;
    }


    .Client_Management_section_Button_Start_explore {
        padding: 10px 20px 10px 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: 1px solid;

    }


    /* Premium Workout Plans */


    .Premium_Workout_Plans_section {
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }



    .Premium_Workout_Plans_section>div {
        /* border: 2px solid red; */
        width: 100%;
    }


    .Premium_Workout_Plans_section_First_Video {
        /* border: 1px solid red; */
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 40px;
    }

    .Premium_Workout_Plans_section_H1_tag_Head {
        /* border: 1px solid black; */
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
    }

    .Premium_Workout_Plans_section_H2_tag_Head {
        /* border: 1px solid black; */
        font-size: 27px;
        font-weight: 600;
        margin-top: 15px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .Premium_Workout_Plans_section_P_tag {
        /* border: 1px solid black; */
        text-align: left;
        color: #808285;
        font-size: 19px;
        margin-bottom: 13px;
    }

    /* Start Your Free Trial */


    .start_YouFree_Trial_section {
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    .start_YouFree_Trial_section>div {
        /* border: 1px solid red; */
        width: 100%;
    }

    .start_YouFree_Trial_section_h1_tag {
        /* border: 1px solid black; */
        font-size: 50px;
        font-weight: 500;
    }

    .start_YouFree_Trial_section_h2_tag {
        /* border: 1px solid black; */
        line-height: 1;
        font-size: 30px;
        font-weight: 600;
    }

    .start_YouFree_Trial_section_p_tag {
        /* border: 1px solid black; */
        text-align: left;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }


    /* Our Goal Is To Help You Succeed */


    .our_goal_is_to_Help_Section {
        /* border: 1px solid black; */
        margin-top: 80px;
        text-align: center;
        background-color: #e8f5fa;
        padding: 20px;
    }

    .our_goal_is_to_Help_Section_h1_tag {
        /* border: 1px solid black; */
        width: 80%;
        margin: auto;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
    }






}
































/* Small screens */
@media all and (min-width: 100px) and (max-width: 549px) {



    
    .mainDiv {
        padding: 10px;
    }


    .Personal_Coach_Mode_Section_H1_Heading {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1em;
        /* border: 1px solid black; */
    }

    .Personal_Coach_Mode_Section_Inside_p_Tag {
        /* border: 1px solid black; */
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        margin-bottom: 10px;
    }

    .Personal_Coach_Mode_Section_Inside_Button {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0px;
        fill: #ffffff;
        color: #ffffff;
        background-color: #39B7FF;
        padding: 7px 13px 7px 13px;
        margin-bottom: 10px;
        border: 1px solid;
    }


    .Personal_Coach_Mode_Section_Button_P_Tag {
        text-align: center;
        width: 80%;
        margin: auto;
        /* border: 1px solid black; */
        font-size: 13px;
        font-weight: 400;
        line-height: 15px; 
    }


    /* lower section medium size media query */



    .LowerTimeSpentSection {
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        text-align: center;
    }

    .LowerTimeSpent_H4_tag {
        font-size: 19px;
        /* border: 1px solid black; */
    }

    .LowerTimeSpent_P_Tag {
        /* border: 1px solid black; */
        font-weight: 300;
        font-size: 12px;
        line-height: 21px;
        color: #7e868c;
        margin-bottom: 10px;
    }

    .LowerTimeSpent_Button_Start_here {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 30px 10px 30px;
        border: 1px solid;
        margin-bottom: 40px;

    }


    .LowerTimeSpent_Each_Client_First_Video {
        /* border: 1px solid red; */
        padding-top: 0px;
        padding-left: 30px;
    }


    /* Client Management section */




    .Client_Management_section {
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 40px;
        text-align: center;
    }

    .Client_Management_section>div {
        /* border: 2px solid red; */
        width: 100%;
    }

    .Client_Management_section_H1_tag_Head {
        /* border: 1px solid black; */
        font-size: 40px;
        font-weight: 700;
    }

    .Client_Management_section_H2_tag_Head {
        /* border: 1px solid black; */
        font-size: 29px;
        font-weight: 600;
        margin-top: 10px;
    }

    .Client_Management_section_P_Tag_Des {
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: 22px;
    }


    .Client_Management_section_First_Video {
        /* border: 1px solid red; */
        padding-top: 5px;
        padding-left: 40px;
    }


    .Client_Management_section_Button_Start_explore {
        padding: 10px 20px 10px 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: 1px solid;

    }


    /* Premium Workout Plans */


    .Premium_Workout_Plans_section {
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }



    .Premium_Workout_Plans_section>div {
        /* border: 2px solid red; */
        width: 100%;
    }


    .Premium_Workout_Plans_section_First_Video {
        /* border: 1px solid red; */
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 40px;
    }

    .Premium_Workout_Plans_section_H1_tag_Head {
        /* border: 1px solid black; */
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
    }

    .Premium_Workout_Plans_section_H2_tag_Head {
        /* border: 1px solid black; */
        font-size: 27px;
        font-weight: 600;
        margin-top: 15px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .Premium_Workout_Plans_section_P_tag {
        /* border: 1px solid black; */
        text-align: left;
        color: #808285;
        font-size: 19px;
        margin-bottom: 13px;
    }

    /* Start Your Free Trial */


    .start_YouFree_Trial_section {
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    .start_YouFree_Trial_section>div {
        /* border: 1px solid red; */
        width: 100%;
    }

    .start_YouFree_Trial_section_h1_tag {
        /* border: 1px solid black; */
        font-size: 50px;
        font-weight: 500;
    }

    .start_YouFree_Trial_section_h2_tag {
        /* border: 1px solid black; */
        line-height: 1;
        font-size: 30px;
        font-weight: 600;
    }

    .start_YouFree_Trial_section_p_tag {
        /* border: 1px solid black; */
        text-align: left;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }


    /* Our Goal Is To Help You Succeed */


    .our_goal_is_to_Help_Section {
        /* border: 1px solid black; */
        margin-top: 80px;
        text-align: center;
        background-color: #e8f5fa;
        padding: 20px;
    }

    .our_goal_is_to_Help_Section_h1_tag {
        /* border: 1px solid black; */
        width: 80%;
        margin: auto;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
    }




}