
.paginationBlog{
  /* border: 10px solid teal; */
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.4rem;
  gap: 7px;
  color: #4c4c4d;
}

.paginationBlog .page-num{
  border:1px solid red;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 500;
}


.paginationBlog .page-num:hover{
  background-color: #61dafb;
  color: rgb(255, 255, 255);
}

.paginationBlog .active{
  background-color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
